<div class="container-fluid">
  <div class="row">
    <div class="card text-center" *ngFor="let item of Items">
        <div class="card-body">       
            <h5 class="card-title">{{item.name}}</h5>
            <img src={{item.flags.png}} class="card-img-top" alt="Bandera">
            <div *ngIf="item.capital">
              <h6>Capital</h6>
              <p class="card-text" >{{item.capital}}</p>
            </div>
            <div *ngIf="item.currencies">
             <h6>Moneda</h6>
              <p class="card-text">{{item.currencies[0].name }}</p>
            </div>  
              <h6>Cant. de Habitantes</h6>            
              <p class="card-text">{{item.population | number}}</p>
        </div>
    </div>
  </div>
</div>